h1{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.intro{
    min-height: 100vh;
    background: url("img/intro.jpg") no-repeat right #000;
    background-size: contain;
    display: flex;
    align-items: center;
}

.intro-welcome{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    font-family: "LF-B";
    text-shadow: 3px 2px 2px #000;
}

.intro-links{
    display: flex;
    justify-content: space-between;
}

.intro-links a{
    line-height: 26px;
    text-decoration: none;
    font-family: "LF-R";
    color: #3acf97;
    font-size: 10.5px;
}

.intro .container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


/*  languages =================================================================  languages */

.languages{
    margin-bottom: -1px;
    min-height: 100vh;
    background-color: #1f2229;
    -webkit-box-shadow: inset 0px 78px 96px -59px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 78px 96px -59px rgba(0,0,0,1);
    box-shadow: inset 0px 78px 96px -59px rgba(0,0,0,1);
}

.languages-label{
    font-family: "LF-R";
    display: inline-block;
    margin: 100px auto 0;
    font-size: 5vh; 
}

.languages-content{
    flex: 1 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.languages .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.languages-web{
    text-align: left;
}

.languages-programing{
    text-align: right;
}

.languages h2{
    font-size: 10rem;
    font-family: "LF-M";
}

.languages h3{
    font-size: 2rem;
    font-family: "LF-R";
}



/*  latest_repositories =================================================================  latest_repositories */

.latest_repositories{
    padding: 64px 0;
    background-color: #121418;
    text-align: center;
    -webkit-box-shadow: 0px 12px 41px 20px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 12px 41px 20px rgba(0,0,0,0.64);
    box-shadow: 0px 12px 41px 20px rgba(0,0,0,0.64);
}

.latest_repositories h2{
    margin-bottom: 7rem;
    font-family: "LF-M";
    font-size: 5.5rem;
}

.latest_repositories-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "LF-R";
    font-size: 4.5rem;
}

.latest_repositories-content a{
    margin: 1.5rem 5px;
    line-height: 30px;
    word-break: break-all;
}


/*  other-sites =================================================================  other-sites */


.other-sites{
    margin-top: -1px;
    padding: 65px 0;
    background-color: #1f2229;
    -webkit-box-shadow: inset 0px 78px 96px -59px rgba(0,0,0,0.64);
    -moz-box-shadow: inset 0px 78px 96px -59px rgba(0,0,0,0.64);
    box-shadow: inset 0px 78px 96px -59px rgba(0,0,0,0.64);
}

.other-sites h2{
    font-family: "LF-M";
    font-size: 6rem;
    margin-bottom: 50px;
}

.my-sites{
    display: flex;
    flex-wrap: wrap;
}

.site{
    width: 25%;
    padding: 10px;
}

.site-name{
    font-family: "LF-R";
    font-size: 4.5rem;
    margin-bottom: 10px;
}

.site-descripcion{
    font-family: "LF-R";
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.6rem;
}

@media screen and (max-width:1400px){
    .intro .container{
        width: 100%;
        display: block;
    }

    .intro{
        background-position: top;
        align-items: flex-end;
    }

    .intro-welcome{
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 1110px){
    .languages-content{
        flex-direction: column;
        justify-content: unset;
    }

    .languages h3 {
        margin: 3px 0;
    }

    .languages-web {
        width: 80%;
    }

    .languages {
        padding: 70px 0;
        min-height: unset;
    }

    .languages .container{
        min-height: unset;
    }

    .languages-label {
        margin: 0px auto 100px;
    }

    .latest_repositories-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 415px){
    .intro{
        min-height: 50vh;
    }

    .intro-welcome{
        margin-bottom: unset;
    }

    .site {
        width: 50%;
        padding: 10px;
    }

    .site-descripcion{
        font-size: 1.9rem;
        line-height: 2.1rem;
    }
}
