*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d3dbe9;
}

body{
    background-color: gray;
    min-height: 100vh;
}

html{
    width: 100%;
    background-color: #000;
}

.container{
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

a{
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a:hover{
    opacity: 1;
}

html ::-webkit-scrollbar{ 
    display: none;
}

header{
    background: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    position: sticky;
    top: 0;
    z-index: 10000000;
}

header .container{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 20px;
    font-family: "LF-B";
}

header nav ul{
    list-style: none;
    display: flex;
    font-size: 16px;
    font-family: "LF-R";
}

header nav{
    display: flex;
    align-items: center;
}

header li{
    margin: 0 20px;
}


@media screen and (max-width: 415px){
    header nav{
        display: none;
    }
}
