main, body{
    background-color: #1f2229;
}

h1{
    font-family: "LF-B";
    font-size: 6rem;
    padding: 50px 0 100px;
}

.communication_resource{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

section{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 0 5px;
}

.contact-name{
    text-align: right;
    font-size: 1.5rem;
    font-family: "LF-R";
    margin: 30px 0 0 0;
}

.contact{
    background-color: #d3dbe9;
    width: 100%;
    padding: 2.2rem;
    margin: 30px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #222428 !important;
}

.contact-info{
    color: inherit;
    font-family: "LF-M";
    font-size: 3.3rem;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    margin: 1vw 5px;
    width: 100%;
}

.contact-img{
    display: flex;
    align-items: center;
}

.contact-img svg{
    height: 2em;
    margin-left: 10px;
    fill: #222428;
    display: block;
}

.contact-info div{
    margin-left: auto;
    color: inherit;
}

.contact-info h3{
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    word-break: break-word;
}

.contact-info div:first-child{
    margin: 15px 0;
    margin-left: auto;
}

.contact-img{
    height: 100%;
    margin-left: 5px;
}

.contacts-content{
    display: inline-flex;
    flex-direction: column;
}